body {
  padding-left: 10%;
  padding-right:10%;
  background-color: #ffffff;
  font-family: sans-serif;
}


h1 {
  font-size: 2.4em;
  color: #003366;
  font-family: Serif;
}

h2 {
  font-size: 1.0em;
}

#nav-bar {
  padding: auto;
  display: flex;
  flex-direction:inherit
}

.nav-button {
  padding-left: 5%;
  padding-right: 5%;
}

.nav-button a {
  background-color:#d0c6c1;
  text-decoration: none;
  font-weight: bold;
}

.byline {
  font-size: 1.20em;
}

p {
  font-size: 1.3em;
  line-height: 1.3em;
  padding-bottom: 20px;
}

.img-container {
  width: 100%;
}

#img {
  margin: auto;
  display: block;
}

.cutline {
  font-size: 15px;
  font-family: sans-serif;
}

li {
  font-size: 1.3em;
  padding-bottom: 10px;
}

#content {
  width: 50%;
  margin: auto;
}

desktop/
#content {
  width: 75%;
  margin: auto;
  line-height: 1.5em;
  font-size: 1.5em;
}

phone/
@media (orientation: portrait)
  #content {
    width: 100%;
    line-height: 1.5em;
    font-size: 1.5em;
}